*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.carcontainer
{
    padding: 40px 50px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #9a9a9a;
}
.carcontainer h2
{
    font-size: 42px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
    color: #010f1c;
}
.carcontainer .carrinhovazio
{
    margin-top: 30px;
    margin-left: 40%;
}
.carcontainer .carrinhovazio h2
{
    font-size: 32px;
    color: #010f1c;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 30px;
}
.carcontainer .carrinhovazio button
{
    border:5px solid #272b2e;
    padding: 10px 20px;
    cursor: pointer;
    background: #272b2e;
    border-radius: 5%;
    margin-left: 70px;        
}
.carcontainer .carrinhovazio .btn
{
    text-decoration: none;
    color: #fff;
}
.carcontainer .conteudo
{
    max-width: 100%;
    padding: 20px 30px;
}
.carcontainer .conteudo .item_carrinho
{
    padding: 20px 30px;
    display: flex;
    background: #f1f1f1;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.carcontainer .conteudo .item_carrinho .box_img
{
    padding: 20px 20px;
    background: #f1f1f1;
}
.carcontainer .conteudo .item_carrinho .box_img img
{
    width: 250px;
    height: 250px;
}
.carcontainer .item_carrinho .detalhe
{
    margin-left: 60px;
    display: flex;
    margin-top: 30px;
    padding: 20px 30px;
}
.carcontainer .item_carrinho .detalhe .info h4
{
    
    text-transform: uppercase;
    font-size: 16px;
    color: #9a9a9a;
    font-weight: 100;
    letter-spacing: 1.5px;
}
.carcontainer .item_carrinho .detalhe .info h3
{
    margin-top: 20px;
    color: #010f1c;
    font-size: 22px;
    font-weight: 200;
}
.carcontainer .item_carrinho .detalhe .info p
{
    margin-top: 10px;
    color: #010f1c;
    letter-spacing: 1px;
}
.carcontainer .conteudo .item_carrinho  .detalhe .info .quantidade
{
    margin-top: 10px;
    display: flex;
}
.carcontainer .conteudo .item_carrinho  .detalhe .info .quantidade .mais
{
    padding: 10px 10px;
    background: none;
    outline: none;
    border: none;
    color: #0989ff;
    font-size: 32px;
    cursor: pointer;
}
.carcontainer .conteudo .item_carrinho  .detalhe .info .quantidade .menos
{
    padding: 10px 10px;
    background: none;
    outline: none;
    border: none;
    color: #0989ff;
    font-size: 32px;
    cursor: pointer;
}
.carcontainer .conteudo .item_carrinho  .detalhe .info .quantidade input
{
    border: none;
    outline: none;
    background: none;
    font-size: 22px;
    color: #010f1c;
    width: 50px;
    margin-left: 20px;
}
.carcontainer .conteudo .item_carrinho  .detalhe .info .total
{
    color: #010f1c;
    font-size: 22px;
    margin-top: 10px;
}
.carcontainer .conteudo .item_carrinho  .detalhe .fechar
{
    margin-top: 30px;
    margin-left: 50px;
}
.carcontainer .conteudo .item_carrinho  .detalhe .fechar button
{
    border: none;
    outline: none;
    border: none;
    font-size: 22px;
    color: #010f1c;
    background: none;
    cursor: pointer;
}
.carcontainer .precototal
{
    margin-top: 30px;
    margin-left: 80%;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.carcontainer .checkout
{
    margin-top: 40px;
    margin-left: 53%;
    padding: 10px 20px;
    color: #fff;
    border: none;
    outline: none;
    background: #0989ff;
    cursor: pointer;
}